.para{
    border: 3px solid rgb(170, 43, 149);
    width: 25%;
    padding: 1em;
    box-shadow: .15em .2em .5em .1em rgb(170, 43, 149);
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

ul{
    display: inline-flex;
}

li{
    border: 1px solid blue;
    padding: 1em;
    display: block;
}

div{
    border: 3px solid rgb(170, 43, 149);
    width: 25%;
    padding: 1em;
    box-shadow:0.15em 0.2em 0.5em 0.1em rgb(170, 43, 149);
    box-sizing: border-box;
}

button{
    margin-top: 50px;
    font-size: 20px;
    padding: 100px;
    box-shadow: 0.15em 0.2em 0.5em 0.1em rgb(170, 43, 149);
}  
button:hover{
    box-shadow: 0.1em 0.4em 1em 0.2em rgb(170, 43, 149),
    inset 0em 0em 2em 0.1em rgb(170, 43, 149);
}

.inline{
    display: block;
}