body{
    background-color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: auto;
    margin: 0;
}

#buttons input{
    height: 180px;
    width: 180px;
    margin: 50px;
    box-shadow: 0.5em 0.5em black;
}

input.clicked {
    transform: scale(0.98);
    box-shadow: 0.3em 0.3em black !important;
}